
{% extends "admin/admintemp.html" %}
{% load static %}

{% block body%}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}


    <h1 class="display-4 center" >Students Data</h1>

    <div style="width: 95%; margin-left:2%;">
        <table id="showTable" class="table table-striped table-bordered" style="width: 100%;margin-left:2%;">    
            <thead>
                <th>Reg. No</th>
                <th>Name</th>
                <th>Email</th>
                <th>PRN</th>
                <th>Image</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for rec in  Students %}
                
                        <tr>
                            <td>{{ rec.std_reg }}</td>
                            <td>{{ rec.std_name }}</td>
                            <td>{{ rec.std_email }}</td>
                            <td>{{ rec.std_cnic }}</td>
                            <td><img src="{{ rec.std_image.url }}" class="img-fluid" height="64" width="64" alt="image"></td>
                            <td>
                                <a href="{% url 'delStudent' rec.std_reg%}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>

                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#showTable').DataTable();
        });
    </script>
{% endblock %}